main {
    min-width: 800px;  // important for mobile view
}

form {
    padding: 0 15px;
}

#view-menu {
    float:right;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid gray;
}

#canvas-container {
    width: 33%;
    &.big{
        width: 100%;
    }
    canvas {
        //max-height: 300px; /// XXXX development
    }
}

.range-container{
    display: flex;
    align-items: center;
    label {
        width: 100px;
    }
    #outbreak-value     {
        width:70px;
        margin-right: 20px;
    }
    > div:last-child {
        flex: 1;
    }
}

// territory cell styling
@color_on: darkgoldenrod;
@color_off: darkgray;
#territories > div > div {
    vertical-align: top;
    cursor: pointer;
    span {
        font-size: 75%;

        // icon of eye and checkmark
        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
            /*color: @color_on;*/
            border-radius: 10px;
            padding: 2px;
            background-color: @color_on;
            &:nth-of-type(2), &:nth-of-type(4) {
                background-color: yellow;;
                border: 1px solid black;
            }

            &.off {
                /*color: @color_on;*/
                background-color: @color_off;
                &:nth-of-type(2), &:nth-of-type(4) {
                    background-color: unset;
                    border: 1px solid white;
                }
            }
        }
    }
    i { // population
        font-size: 75%;
        color: gray;
        font-style: italic;
    }
}

#territories-legend{
    div:first-of-type {
        text-align: center;
        color:gray;
        font-size: 75%;
    }
    #uncheck-all {
        cursor: pointer;
        text-decoration: underline;
        //margin-left: 100px;
    }
}


#plot-options {
    #chart-id {
        width: 50px;
    }
    #plot-hint {
        color: darkgray;
        font-size: 90%;
    }

    #plot-alert {
        clear:both;
        font-size: 75%;
    }

    #plot-stack {
        display: inline-flex;
        > div {
            cursor:pointer;
            margin-right: 10px;
            //background-color: gray;
            border: 1px solid gray;
            border-radius: 2px;
            font-size: 75%;
            float:left;
            background-color: green;

            opacity: 0.3;
            /*        > .shown {
                        background-color: darkgray;
                    }*/

            &.active {
                opacity: 1;
                /*            > .shown {
                                background-color: gray;
                            }*/
            }
            &.edited{
                //background-color: #005;
                font-weight: bold;
            }
            &.invalid{
                background-color: darkred;
            }

            > .name {
                color:white;
                padding: 2px 25px 2px 25px;
            }
        }
    }
}

#reset-zoom {
    display:none;
    position:fixed;
    top:3px;
    right:3px;
    padding:25px;
    /*    background-color: white;*/
    a {
        border: 1px solid black;
    }
}